name: Test
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: current
    - name: Install pnpm and dependencies
      uses: pnpm/action-setup@v2
      with:
        version: 8
        run_install: true
    - name: Test
      run: pnpm test
